body {
  font-family: Tahoma, sans-serif;
  direction: rtl;
  margin: 0; padding: 0;
}
header {
  background-color: #444;
  color: white;
  padding: 10px;
  text-align: center;
}
nav a {
  color: #ff0;
  text-decoration: none;
  margin: 0 10px;
}
main {
  padding: 20px;
}
footer {
  background-color: #eee;
  padding: 10px;
  text-align: center;
}
